footer {
  border-top: 5px solid rgb(134, 134, 134);
  height: 100%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.footer-sec1 {
  display: flex;
  align-items: center;
}

.footer-sec1 {
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin-left: 6.25vh;
  margin-top: 30px;
  text-align: center;
}

.footer-sec1 img {
  max-width: 90px;
  margin-bottom: 10px;
}

.rights {
  font-size: 14px;
}

.footer-sec2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:20px;
}

.social-icon {
  font-size: 40px;
  color: white;
  margin: 8px;
  transition: transform 0.5s;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.15);
}

.fa-facebook-square:hover {
  color: #3F5894;
}

.fa-twitter-square:hover {
  color: #1CA1F1;
}

.fa-linkedin:hover {
  color: #2867B2;
}

.fa-youtube-square:hover {
  color: #FE0000;
}



