:root {
  --background: #060a14;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #060a14;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 150, 163);
}

body {
  background-image: linear-gradient(135deg, rgba(183, 250, 255, 0.459), rgba(227, 232, 252, 0.507), rgba(160, 247, 253, 0.459));
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow-x: hidden;
}

#about {
  margin-top:-50px;
  padding-top: 30px;
  color: black;
}

.head-1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 24px;
  margin: 0 0 15px 0;
  background: #c7eaf5ce;
  color: #3a90ca;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
}

.head-2 {
  font-size: 34px;
  text-align: center; 
  color:rgb(56, 56, 56); 
  font-weight: bold; 
  margin-top: 50px
}

.head-3 {
  font-weight: bold;
  color: rgb(73, 73, 73);
  text-align: center;
}

span {
  color: #2a86c4;
}

.about-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-line {
  border-top: 1px solid gray;
  width: 100%;
  margin: 30px 0 50px 0;
}

.horizontal-line-2 {
  border-top: 3px solid rgb(0, 89, 255); 
  width: 20%; 
  margin: 10px auto 20px auto;
}

.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-sec1 {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(195, 240, 252, 0.301);
  width: 60%;
}

.about-sec2 {
  width: 40%
}

.about-sec3 {
  width: 50%;
}

.about-sec4 {
  width: 50%;
}

.erp-img {
  max-width: 100%;
}

.about-img {
  max-width: 100%;
  padding-right: 30px;
}

.usp-img {
  max-width: 100%;
  padding-left: 30px;
}

.about-div li {
  list-style-type:none;
}

.btn {
  margin: 0 auto;
  display: flex;
  background-color: #07a0e7;
  border-color: #07a0e7;
  font-weight: bold;
}

.btn:hover {
  background-color: #038ccc;
  border-color: #038ccc;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.read-more-arrow {
  width: 18px;
  filter: invert(92%) sepia(91%) saturate(1%) hue-rotate(69deg) brightness(107%) contrast(100%);
  position: relative;
  top: 7px;
  left: 2px;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.open {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.about-usp {
  width: 100%;
}

.usps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 11rem;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(57, 103, 133, 0.664);
  border: none;
  transition: 0.8s ease;
}

.card:hover {
  color: white;
}

.diagonal-left {
  background-image:linear-gradient(to top right,rgb(118, 182, 255) 55%,rgb(243, 243, 243) 50%);
  background-size: 200% 200%;
  background-position:top right;
}

.diagonal-left:hover {
  background-position:bottom left;
}

.card-img-top {
  width: 70px;
  margin: 30px auto 10px auto;
}
.card-title {
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}


.erp-banner {
  margin-top: 50px;
  width: 100%;
}

#contact {
  padding: 60px 0;
  margin: 50px 50px 30px 50px;
  border-radius: 20px;
  background-color: rgba(211, 237, 243, 0.603);
  color: rgb(22, 33, 75);
  font-weight: bold;
}

.contact-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 100px;
}

.contact-info {
  margin-left:10%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contact-sec img {
  width: 40px;
  margin-right: 5px;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.contact-sec:hover img {
  transform: rotate(15deg);
  transition: all 0.5s ease;
}

.contact-sec a {
  color: rgb(22, 33, 75);
}

.contact-sec {
  margin: 20px 0;
}

.address {
  float: left;
  margin-top: 9px;
}

.form-register {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin: 10px 0;
  margin-left: 30px;
}

.register-btn {
  --c: rgb(35, 132, 211);
  color: var(--c);
  border: 2px solid var(--c);
  border-radius: 6px;
  width: 8em;
  height: 2.7em;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 2.5em;
  box-shadow: inset 0 0 0 0 rgb(35, 132, 211);
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.007);
}

.register-btn:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 rgb(35, 132, 211);
}

.register-btn:focus {
  outline: none;
}

.book-seat-btn {
  display: none;
  transform: rotate(270deg);
  position: fixed;
  top: 45%;
  right: -100px;
  z-index: 100;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #07a0e7;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0873d6;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.book-seat-btn:hover {
  box-shadow: inset 0 0 0 50px #0873d6;
}

.book-seat-btn:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .about-usp {
    width: 70%;
  }
  .card {
    margin: 20px;
    width: 14rem;
  }
  .card-img-top {
    width: 100px;
  }
  .card-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  #top-btn {
    bottom: 50px;
    right: 50px;
    padding: 24px 24px;
  }
  #top-btn img {
    width: 24px;
  }
  .logo {
    width: 130px;
  }
  .toggle-btn {
    font-size:34px;
    margin-right: 50px;
    padding: 1px 11px;
  }
  #home {
    top: -140px;
  }
  .hero-btns {
    margin-top: 28%;
  }
  .head-1 {
    font-size: 34px;
  }
  .head-2 {
    font-size: 36px;
  }
  .head-3 {
    font-size: 30px;
  }
  .about-1 {
    flex-direction: column-reverse;
    font-size: 22px;
  }
  .about-2 {
    flex-direction: column;
    font-size: 22px;
  }
  .about-sec1 {
    width: 100%;
  }
  .about-sec2 {
    width: 80%;
    padding: 20px 0px;
  }
  .contact-div {
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
    font-size: 22px;
    margin-left: 0;
    align-items: center;
  }
  .form-register {
     width: 100%;
  }
  .form-group {
    width: 60%;
  }
  .card {
    width: 15rem;
  }
  .card-title {
    font-size: 22px;
  }
  .footer-sec1 img{
    width: 110px !important;
  }
  .rights {
    font-size: 16px !important;
  }
}


