* {
  scroll-behavior: smooth;
}

:root {
  --background: #060a14;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 150, 163);
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow-x: hidden;
}


.curve h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 50px;
}
.curve p {
  font-size: 1rem;
  margin: 0 5rem;
  margin: 10px;
}


#about {
  color: black;
}

.head-1 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0 0 15px 0;
  background: #d9e4e7;
  color: #4ebcc0;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
}

.head-3 {
  font-weight: bold;
  color: rgb(73, 73, 73);
}

span {
  color: #4ebcc0;
}

.about-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-line {
  border-top: 1px solid gray;
  width: 100%;
  margin: 30px 0 50px 0;
}

.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-sec1 {
  width: 60%;
}

.about-sec2 {
  width: 40%
}

.erp-img {
  max-width: 100%;
}


#why-us {
  color: black;
  margin-top: 50px;
}

.why-us-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.why-us-text h1 {
  font-size: 32px;
  text-decoration: underline gray 2px;
  text-underline-offset:50%;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color:#3ca8ac;
}

.why-us-text img {
  margin-top: 20px;
  max-width: 80%;
}

#register {
  padding: 60px 0;
  margin: 50px 50px 30px 50px;
  border-radius: 20px;
  background-color: rgb(236, 247, 250);
}

.register-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-register {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 50px auto;
}

.form-control {
  margin: 20px 0;
}

.form-register .btn {
  display: flex;
  margin: 0 auto;
}


#contact {
  background-color: rgb(87, 185, 185);
}

#contact h1 {
  border-bottom: 1px solid rgb(197, 197, 197);
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}

.contact-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info img {
  width: 40px;
  margin-right: 5px;
}

.contact-sec1 a {
  color: white;
}

.contact-sec2 {
  margin-top: 20px;
}

.address {
  float: left;
  max-width: 300px;
  margin-top: 9px;
}

.socials {
  margin-top: 35px;
}

.socials img {
  width: 50px;
  margin: 8px;
  transition: transform 0.5s, background-color 0.5s;
  border-radius: 15px;
}
.socials img:hover {
  cursor: pointer;
  transform: scale(1.15);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}





